:root {
    --background-colour: white;
    --text-colour: black;
    --highlight-colour: rgb(240, 240, 240);
}

/* https://www.youtube.com/watch?v=7kVeCqQCxlk -> 18:11*/
.site {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto 1fr 3fr;
    grid-template-areas:
        "title title title"
        "main header header"
        "main sidebar footer";
}

.navbar {
    grid-area: title;
}

.title {
    grid-area: header;
}

/* Navbar */
.navbar {
    background-color: var(--primary-colour);
    color: #fff;
    /* height: 70px; */
    overflow: visible;
}

.navbar ul {
    display: flex;
    margin-top: 1.5rem;
    list-style: none;
}

.navbar ul {
    cursor: pointer;
}

.navbar a {
    overflow: visible;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar h1 a:hover {
    border-bottom: none;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar-title {
    line-height: 1;
}

.search-field {
    width: 16rem;
    height: 1.35rem;
    margin-bottom: 0.5rem;
    display: block;
    margin: 0 auto;
    border: 1px var(--text-colour) solid;
    padding: 2px 10px;
}

.search-button {
    display: block;
    margin: 10px auto;
    padding: 0 20px;
    height: 44px;
    border: 1px var(--text-colour) solid;
    border-radius: 4px;
    background-color: var(--highlight-colour);
    cursor: pointer;
    color: var(--text-colour);
    box-shadow: 3px 3px 1px var(--text-colour);
}

.search-button:hover {
    box-shadow: 5px 5px 3px var(--text-colour);
    /* background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)); */
}

.search-box {
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    al
}

.title h2 {
    text-align: center;
}

.results-box {
    max-height: 500px;
    overflow-y: scroll;
    margin-bottom: 3rem;
    background-color: var(--background-colour);
}

.matches-heading {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--background-colour);
    padding: 2px 0px;
    /* border-bottom: 2px rgb(161, 161, 161) solid; */
}

.results-box .length-title {
    margin-bottom: 0px;
    line-height: 1;
}

.results-box ul.results-list {
    color: var(--text-colour);
    list-style-type: none;
    border-top: 1px rgb(161, 161, 161) solid;
    border-bottom: 1px rgb(161, 161, 161) solid;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    /* background-color: rgb(27, 27, 27); */
    background-color: var(--highlight-colour);
}

.results-box li {
    padding: 5px 0px;
    border-bottom: 1px rgb(161, 161, 161) solid;
}

.results-box li:last-child {
    /* padding: 5px 0px; */
    border-bottom: none;
}

.results-box li i {
    float: right;
    margin-top: 4px;
}

.results-box a {
    color: var(--text-colour);
    text-decoration: none;
}

/* Tablet */
@media (min-width: 768px) {}

/* Mobile */
@media screen and (min-width: 500px) {}